{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% block left_menu %}
<a href="/add_task"><span>Add task</span></a>
{% endblock %}

{% block content %}
<center>
<div class="task-site">
{% if task %}

    {% if user == task.assigned_user %}

        {% if task.is_done %}

            <div class="task-done" >
                <fieldset>
                <legend>{{task.title}}</legend>
                <h4>{{task.title}}</h4>
                <p>{{task.description}}</p>
                <p>Assigned user: {{task.assigned_user}}</p>
                <p>Added at : {{task.created_at}}</p>
                <form style="margin-right: 40px;" action="/change/{{task.id}}" method="post">
                    {% csrf_token %}
                    <input type ="hidden" name="task_id" value="{{task.id}}">
                    <button type="submit" class="task-button-inactive" name="task-button" >Wykonane</button>
                </form>
                <form action="/delete" method="post">
                    {% csrf_token %}
                    <input type ="hidden" name="task_id" value="{{task.id}}">
                    <button type="submit" class="delete-button" name="delete" >Usuń</button>
                </form>
                <form action="/edit/{{task.id}}">
                    {% csrf_token %}
                    <input type ="hidden" name="task_id" value="{{task.id}}">
                    <button type="submit" class="edit-button" name="delete" >Edytuj</button>
                </form>
                </fieldset>
            </div>

        {% else %}

            <div class="task">
                <fieldset>
                <legend>{{task.title}}</legend>
                <h4>{{task.title}}</h4>
                <p>{{task.description}}</p>
                <p>Assigned user: {{task.assigned_user}}</p>
                <p>Added at : {{task.created_at}}</p>
                <form style="margin-right: 40px;" action="/change/{{task.id}}" method="post">
                    {% csrf_token %}
                    <input type ="hidden" name="task_id" value="{{task.id}}">
                    <button type="submit" class="task-button" name="task-button">Wykonaj</button>
                </form>
                <form action="/delete" method="post">
                    {% csrf_token %}
                    <input type ="hidden" name="task_id" value="{{task.id}}">
                    <button type="submit" class="delete-button" name="delete" >Usuń</button>
                </form>
                <form action="/edit/{{task.id}}">
                    {% csrf_token %}
                    <input type ="hidden" name="task_id" value="{{task.id}}">
                    <button type="submit" class="edit-button" name="edit" >Edytuj</button>
                </form>
                
                </fieldset>
            </div>
        {% endif %}

    {% else %}
        {% if task.is_done %}
            <div class="task-done" >
                <fieldset>
                <legend>{{task.title}}</legend>
                <h4>{{task.title}}</h4>
                <p>{{task.description}}</p>
                <p>Assigned user: {{task.assigned_user}}</p>
                <p>Added at : {{task.created_at}}</p>
                </fieldset>
            </div>
        {% else %}

            <div class="task">
                <fieldset>
                <legend>{{task.title}}</legend>
                <h4>{{task.title}}</h4>
                <p>{{task.description}}</p>
                <p>Assigned user: {{task.assigned_user}}</p>
                <p>Added at : {{task.created_at}}</p>
                </fieldset>
            </div>

        {% endif %}
    {% endif %}
{% endif %}

{% if comments %}
    <fieldset class="comments">
    <legend>Comments</legend>
    {% for comment in comments reversed %}
        <div class="task">
            <h4>{{comment.author}}</h4>
            <h5>{{comment.title}}</h5>
            <p>{{comment.value|truncatewords:20}}</p>
            <p>{{comment.created_at}}</p>
        </div>
    {%endfor%}
    </fieldset>
{% endif %}



<form method = "post">
    <fieldset>
        <legend>Create comment</legend>
        {% csrf_token %}
        <label>value</label>
        {% render_field form.value placeholder="value" class+="" %}
        
        <button class="form-button" type="submit">Add comment</button>
    </fieldset>
</form>

</div>
</center>
{% endblock %}

